<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Journal</h1>
    <form action="/bloggers/<%= journal._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= journal.name %>" >
        <input type="text" name="text" value="<%= journal.text %>">
        <input type="submit">
    </form>
   

</body>
</html>