<html>

<head>
  <title>The Great Outdoor Journal</title>
  <!-- Google Icon Fonts used by Materialize -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS Framework -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="stylesheets/style.css" />
  <!-- JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="" class="brand-logo left">The Great Outdoor Journal</a>
        <ul class="right">
          <li>
            <% if (user) { %>
              <a href="/logout">Log Out</a>
            <% } else { %>
              <a href="/auth/google"> Login with Google</a>
            <% } %>       
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="container">
    <h2 class="col s4 blue-grey-text text-darken-2">Bloggers</h2>
    
    <div class="row">
      <div id="users" class="col s12">
        <% if (user) { %>
          <div class="card blue-grey">
            <div class="card-content white-text">
              
            
              <% if (user._id.equals(user && user._id)) { %>
                <div class="card-action">
                  <form action="/blogger" method="POST">
                    <input type="text" name="name" class="white-text">
                    <input type="text" name="text" class="white-text">
                    <button type="submit" class="btn white-text">Create Post</button>
                  </form>
                </div>
              <% } %>
         
             
            </div>
          </div>
        <% } %>
      </div>
    </div>
    <div class="row">
      <div id="users" class="col s12">
        <% if (journals.length){ %> 
        <% journals.forEach(function(j) { %>
          <div class="card blue-grey">
            <div class="card-content white-text">
              
              

            <%= j.name %> 
            <%= j.text %>

            <form class="delete-form" method="POST" action="/journals/<%= j.id %>?_method=DELETE">
              <button type="submit">X</button>
            </form>
      
           
            </div>
          </div>
        <% }) %>
        <% } else { %>
          <%= 'No Journals Yet' %>  
          <% } %> 
      </div>
    </div>
  </div>
</body>

</html>